version: '3'
services:
  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    hostname: hive-server
    ports:
      - "10000:10000"   # HiveServer2 JDBC
      - "9083:9083"     # Hive Metastore
    environment:
      - HIVE_METASTORE_DB_TYPE=postgres
      - HIVE_METASTORE_HOST=metastore
      - HIVE_METASTORE_PORT=9083
      - HIVE_METASTORE_DB_NAME=metastore
      - HIVE_METASTORE_USER=hive
      - HIVE_METASTORE_PASSWORD=hive
    volumes:
      - ./DATSETS_HIVE:/data
    networks:
      - hive-net
    command: /opt/hive/bin/hive --service metastore & /opt/hive/bin/hive --service hiveserver2

  metastore:
    image: postgres:10
    container_name: metastore
    hostname: metastore
    environment:
      - POSTGRES_DB=metastore
      - POSTGRES_USER=hive
      - POSTGRES_PASSWORD=hive
    ports:
      - "5432:5432"
    networks:
      - hive-net

networks:
  hive-net:
    driver: bridge
